.fancytree-clone  {
  font-weight: bold;
  text-decoration: underline;
}

span.fancytree-node.fancytree-active-clone {
  border-color: blue;
  animation: flash 1s ease-out;
  animation-iteration-count: 1;
}

span.fancytree-node {
    line-height: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}

span.fancytree-node span {
    vertical-align: middle;
}

span.fancytree-node span.fancytree-title {
    font-size: 12pt;
  line-height: initial;
  vertical-align: top;
}

/*  For FilteredSelectMultiple widget */
#left_panel_container .selector h2{
    font-size: 12pt;
}
#left_panel_container .selector-filter label{
    margin-top: 2px;
}
#left_panel_container .selector select{
    border-top: solid gray 2px;
}
#left_panel_container label.form-label {
    display: block;
}

.fancytree-ext-childcounter span.fancytree-childcounter, .fancytree-ext-filter span.fancytree-childcounter {
    position: initial;
    font-weight: bold;
}

#left_panel {
    padding: 0;
    border-right: 2px solid black;
}
#left_panel > h4 {
    padding: 3px 0;
    background-color: #0b3e6f;
    position: relative;
}
#left_panel > h4 a i {
    color: grey;
    position: absolute;
    top: -8px;
    right: -8px;
}

#treeview{padding: 0}
#tree{width: 100%}
#tree thead tr{
    background-color: #0b3e6f;
    color: white;
    line-height: 32.6px;
    border-left: 1px #0b3e6f solid;
}
#tree thead th .fancytree-checkbox{vertical-align: middle}
th.tree_col_title {
    padding-left: 16px;
    width: 100%;
}
th.tree_col_title h4{
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}
th.tree_col_title h4 a i{
    color: #efec9f;
    font-size: 12pt;
    vertical-align: middle;
}
th.tree_col_title .float-end{
    padding-right: 10px;
    padding-left: 5px;
}
th.tree_col_title .float-end > span{padding-right: 4px}
th.tree_col_title .float-end button{
    background-color: #efec9f;
    padding: 0 5px;
}
th.tree_col_title .float-end button i {
    color: #0b3e6f;
    font-size: 12pt;
    vertical-align: middle;
}
th.tree_col_title .float-end input[name=search] {
    padding-left: 10px;
    line-height: 20px;
    background-color: #efec9f;
    border-radius: 8px;
}
th.tree_col_title .float-end label{
    padding-left: 5px;
}

#left_panel form{margin: 3px 8px}
#left_panel form button[type="submit"]{margin: 5px}

#left_panel form .selector{width: 100%;}
#left_panel form .selector .selector-available{
    width: calc(50% - 12px);
}
#left_panel form .selector .selector-available input{
    width: calc(100% - 28px);
}
#left_panel form .selector .selector-chosen{
    width: calc(50% - 12px);
}
#left_panel form .selector select{
    width: initial;
}
#left_panel form .selector .selector-chooser{
    width: 22px;
}

.progress small{
    text-shadow: 2px 0 1px #fff, -2px 0 1px #fff, 0 2px 1px #fff, 0 -2px 1px #fff,1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff;
    font-weight: bold;
}

.hierarchy-select button.dropdown-toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div .ss-main{
    background: none;
    padding: 0;
}

td.supervisors{
    vertical-align: middle;
}
td.supervisors span{
    display: initial;
    font-size: 8pt;
    font-weight: bold;
    margin: 2px;
}
tr.fancytree-clone{
    text-decoration: none !important;
}
tr.fancytree-submatch td.supervisors{
    opacity: 0.25;
}
.tippy-content {
    max-height: 40vh;
    overflow-y: auto;
}
thead th.cost{
    text-align: center;
    padding: 0   10px;
}
tr td.cost{
    text-align: right;
}