{% load static %}
<!doctype html>
<html lang="en">
<head>
  {% block header %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- popper -->
    <script src="{% static "/js/libs/popper/popper.min.js" %}"></script>
    <link href="{% static "/css/bootstrap/bootstrap.min.css" %}" rel="stylesheet" crossorigin="anonymous">
    <link href="{% static "/css/bootstrap/bootstrap-icons.css" %}" rel="stylesheet" crossorigin="anonymous">
    <script src="{% static "/js/libs/bootstrap/bootstrap.min.js" %}" crossorigin="anonymous"></script>
  {% endblock %}
  {% block extra_style %}{% endblock %}
  {% block extra_javascript %}{% endblock %}
  <title>{% block title %}{{ site_title }}{% endblock %}</title>
</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}
{% endblock %}
</body>
</html>
