{% extends "specification/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}

{% block extra_style %}
      <link href="{% static "/css/login.css" %}" rel="stylesheet">
{% endblock %}

{% block body_class %}text-center{% endblock %}

{% block body %}
<main class="form-login">
  <form method="post">
    <h1 class="h3 mb-3 fw-normal">{% translate "Please log in" %}</h1>

    {% csrf_token %}
    {% bootstrap_form form %}

    <button class="w-100 btn btn-lg btn-primary" type="submit">{% translate "Log in" %}</button>
  </form>
</main>
{% endblock %}