{% extends "specification/base.html" %}
{% load static %}
{% load i18n %}

{% block extra_style %}
{% endblock %}
{% block extra_javascript %}
  <!-- jQuery as used by the project -->
  <script src="{% static "/js/libs/jquery/jquery.min.js" %}"></script>
  <script type="application/javascript">
      window.csrftoken = "{{ csrf_token }}";
  </script>
  <!-- For FilteredSelectMultiple widget -->
  <script src="{% url 'jsi18n' %}"></script>
  <script src="{% static "/js/main.js" %}"></script>
{% endblock %}

{% block body_class %}container-fuild min-vh-100 d-flex flex-column{% endblock %}

{% block body %}
  {% block nav %}
    <div>
      <nav class="navbar navbar-expand-md navbar-dark bg-black py-0" aria-label="navigation header">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbars"
                  aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbars">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link {% if page == 'treetable' %}active{% endif %}" aria-current="page" href="/treetable">{% translate "TreeTable" %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if page == 'solution' %}active{% endif %}" aria-current="page" href="/solution">{% translate "SolutionTree" %}</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
              {% if user_projects|length > 1 %}
                <li class="nav-item dropdown">
                  <a class="nav-link active dropdown-toggle" href="#" id="dropdown_project" data-bs-toggle="dropdown"
                     aria-expanded="false">{% translate "Project" %} : {{ request.session.current_project_name }}</a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown_project">
                    {% for project in user_projects %}
                      {% if project.id != request.session.current_project_id %}
                        {#                    <li><a class="dropdown-item" hx-get="/api/specification/project/activate/{{ project.id }}" _="on htmx:afterRequest if detail.successful call location.reload()">{{ project.name }}</a></li>#}
                        <li><a class="dropdown-item" href="/project/activate/{{ project.id }}">{{ project.name }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                {#            <li class="nav-item">#}
                {#              <span class="nav-link active">{{ user.preferences.default_project }}</span>#}
                {#            </li>#}
              {% endif %}
              {% if user_solutions|length > 1 %}
                <li class="nav-item dropdown">
                  <a class="nav-link active dropdown-toggle" href="#" id="dropdown_project" data-bs-toggle="dropdown"
                     aria-expanded="false">{% translate "Solution" %} : {{ request.session.current_solution_name }}</a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown_project">
                    {% for solution in user_solutions %}
                      {% if solution.id != request.session.current_solution_id %}
                        {#                    <li><a class="dropdown-item" hx-get="/api/specification/project/activate/{{ project.id }}" _="on htmx:afterRequest if detail.successful call location.reload()">{{ project.name }}</a></li>#}
                        <li><a class="dropdown-item" href="/solution/activate/{{ solution.id }}">{{ solution.name }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% elif user_solutions|length == 1 %}
                  <li class="nav-item">
                    <span class="nav-link active">Solution: {{ request.session.current_solution_name }}</span>
                  </li>
              {% endif %}
              <li class="nav-item">
                <div class="">
                  <a class="nav-link active dropdown-toggle" href="#" id="dropdown_user" data-bs-toggle="dropdown"
                     aria-expanded="false">{% translate "User" context "user_account" %} : {{ user.username }}</a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown_user">
                    <li><a class="dropdown-item" href="/accounts/logout/">{% translate "Logout" %}</a></li>
                    <li><a class="dropdown-item" href="#" onclick="start_change_password()">{% translate "Change password" %}</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  {% endblock %}
  {% block main %}
  {% endblock %}
{% endblock %}