{% load django_bootstrap5 %}
{% load i18n %}

{{ form.media }}
<form
        hx-post="{{ view.get_post_url }}"
        hx-trigger="submit delay:1ms" {# Delay (can be) needed to apply other form trigger on submit event #}
        class="text-center" style="margin: 3px 8px">
  {% csrf_token %}
  <p>{% blocktranslate with obj_title=object.title %}Are you sure to delete : "{{ obj_title }}" ?{% endblocktranslate %}</p>
  <button hx-post="{{ view.get_post_url }}"
        class="w-50 btn btn-lg btn-primary text-bg-danger" type="submit" value="Confirm">
  {% block submit_button_text %}{% translate "Confirm deletion" %}{% endblock %}
</button>
</form>



