{% extends "specification/specification_form.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}


{% block after_form_content %}
  <div style="display: inline-block; width: 100%;">
    <h4>{{ included_in_formset.instance }}</h4>
    <br/>
    <h5>{% translate "Included in" %}</h5>
    {% include "solution/formset_table.html" with formset=included_in_formset %}
    <br/>
    <h5>{% translate "Included by" %}</h5>
    {% include "solution/formset_table.html" with formset=included_by_formset %}
    <br/>
  </div>
{% endblock %}