{% extends "solution/solutionelement_form.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}

{% block after_form_content %}
  <div style="display: inline-block; width: 100%;">
    <h4>{{ fulfillment_formset.instance }}</h4>
    <br/>
    <h5>{% translate "Fulfilled by" %}</h5>
    {% include "solution/formset_table.html" with formset=fulfillment_formset %}
    <br/>
    <h5>{% translate "Breached by" %}</h5>
    {% include "solution/formset_table.html" with formset=breach_formset %}
    <br/>
  </div>
{% endblock %}