{#{% load compress %}#}
{% load static %}
<html>
<head>
  <link href="{% static "css/fancytree/skin-win8/ui.fancytree.css" %}" rel="stylesheet">
  <!-- jQuery as used by the project -->
  <script src="{% static "js/libs/jquery/jquery.min.js" %}"></script>
  <!-- Bundled Fancytree core and most extensions plus required jQuery UI widgets: -->
  <script src="{% static "js/libs/fancytree/jquery.fancytree-all-deps.min.js" %}"></script>

  <!-- jquery-contextmenu (https://github.com/swisnl/jQuery-contextMenu) -->
  <script src="{% static "js/libs/jquery-contextmenu/jquery.contextMenu.min.js" %}"></script>
  <link rel="stylesheet" href="{% static "css/jquery-contextmenu/jquery.contextMenu.min.css" %}" />

  <style type="text/css">

.fancytree-clone  {
  font-weight: bold;
  text-decoration: underline;
}

span.fancytree-node.fancytree-active-clone {
  border-color: blue;
  animation: flash 1s ease-out;
  animation-iteration-count: 1;
}

span.fancytree-node {
    line-height: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}

span.fancytree-node span {
    vertical-align: middle;
}

span.fancytree-node span.fancytree-title {
    font-size: 12pt;
  line-height: initial;
  vertical-align: top;
}

</style>


  <script type="text/javascript">
      function move_spec_from_to(spec_id, from_id, to_id){
          console.log("Move "+spec_id+" from "+from_id+" to "+to_id);

          $.ajax({
              type: "POST",
              url: "/admin/specification/api/spec/move/"+spec_id,
              data: {
                  from: from_id,
                  to: to_id,
                  csrfmiddlewaretoken: "{{ csrf_token }}",
              },
          }).done(function (response){
              console.log("Move success !");
              {#console.log(this);#}
              {#console.log(response);#}
              $.ui.fancytree.getTree("#specs_tree").reload(response);
          }).fail(function (response){
              console.log("Move fail !");
              console.log(this);
              console.log(response);
          });
      }

      $(function () {
          $("#tree")
              .fancytree({
                  extensions: [
                      // Table extension, see: https://github.com/mar10/fancytree/wiki/ExtTable
                      "table",
                      // Drag'n'drop extension, see: https://github.com/mar10/fancytree/wiki/ExtDnd5
                      "dnd5",
                      // Persist collapse state of item, see: https://github.com/mar10/fancytree/wiki/ExtPersist
                      "persist",
                      // Manage multiple node ref to the same spec, see: https://github.com/mar10/fancytree/wiki/ExtClones
                      "clones",
                      // Display child counter on icon, see: https://wwwendt.de/tech/fancytree/demo/index.html#sample-ext-childcounter.html
                      "childcounter",
                      // Add a context menu, see: https://wwwendt.de/tech/fancytree/demo/index.html#../3rd-party/extensions/contextmenu/contextmenu.html
                  ],
                  // Load data from server
                  source: {
                      url: "/admin/specification/api/tree",
                      cache: false
                  },
                  // Translations
                  strings: {
                      loading: "Loading...",
                      loadError: "Load error!",
                      moreData: "More...",
                      noData: "No data."
                  },
                  // Set debug level of fancytree, 0:quiet, 1:info, 2:debug
                  debugLevel: 1,
                  // Manage tooltip
                  tooltip: function (event, data) {
                      // Return pk (in refKey) of the current node
                      return data.node.refKey;
                  },
                  // -- Check box --
                  // Add checkbox for each line
                  checkbox: true,
                  // Hierarchical selection
                  selectMode: 3,
                  // -- Keyboard --
                  // Allow titles to be reach by TAB
                  titlesTabbable: true,
                  // -- Toggle --
                  // No effect on toggle line
                  toggleEffect: false,
                  // Enable icon (needed by child counter)
                  icon: true,
                  // -- CHILD COUNTER --
                  childcounter: {
                      deep: true,         // Count all childs
                      hideZeros: true,    // Hide counter if no child
                      hideExpanded: true  // Hide counter if node is expanded
                  },
                  // -- CLONE MODE --
                  clones: {
                      highlightClones: true
                  },
                  // -- TABLE MODE --
                  table: {
                      // Display checkbox on first column
                      checkboxColumnIdx: 0,
                      // Display title on second column
                      nodeColumnIdx: 1,
                      // Indentation per level (in px)
                      indentation: 24,
                  },
                  // -- PERSIST --
                  persist: {
                      // Use only local storage
                      store: 'auto',
                  },
                  // -- DRAG AND DROP --
                  dnd5: {
                      autoExpandMS: 500,           // Expand nodes after n milliseconds of hovering.

                      // --- Drag Support --------------------------------------------------------

                      dragStart: function (node, data) {
                          // Called on source node when user starts dragging `node`.
                          // This method MUST be defined to enable dragging for tree nodes!
                          // We can
                          //   - Add or modify the drag data using `data.dataTransfer.setData()`.
                          //   - Call `data.dataTransfer.setDragImage()` and set `data.useDefaultImage` to false.
                          //   - Return false to cancel dragging of `node`.

                          // Set the allowed effects (i.e. override the 'effectAllowed' option)
                          data.effectAllowed = "all";  // or 'copyMove', 'link'', ...

                          // Set a drop effect (i.e. override the 'dropEffectDefault' option)
                          // One of 'copy', 'move', 'link'.
                          // In order to use a common modifier key mapping, we can use the suggested value:
                          data.dropEffect = data.dropEffectSuggested;

                          // We could also define a custom image here (not on IE though):
                          //data.dataTransfer.setDragImage($("<div>TEST</div>").appendTo("body")[0], -10, -10);
                          //data.useDefaultImage = false;

                          // Return true to allow the drag operation
                          if (node.isFolder()) {
                              return false;
                          }
                          return true;
                      },
                      dragDrag: function (node, data) {
                          // Called on source node every few milliseconds while `node` is dragged.
                          // Implementation of this callback is optional and rarely required.
                      },
                      dragEnd: function (node, data) {
                          // Called on source node when the drag operation has terminated.
                          // Check `data.isCancelled` to see if a drop occurred.
                          // Implementation of this callback is optional and rarely required.
                          // Note caveat:
                          // If the drop handler removed or moved the dragged source element,
                          // `node` and `data` may not contain expected values, or this event
                          // is not triggered at all.
                      },

                      // --- Drop Support --------------------------------------------------------

                      dragEnter: function (node, data) {
                          // Called on target node when s.th. is dragged over `node`.
                          // `data.otherNode` may be a Fancytree source node or null for
                          // non-Fancytree droppables.
                          // This method MUST be defined to enable dropping over tree nodes!
                          //
                          // We may
                          //   - Set `data.dropEffect` (defaults to '')
                          //   - Call `data.setDragImage()`
                          //
                          // Return
                          //   - true to allow dropping (calc the hitMode from the cursor position)
                          //   - false to prevent dropping (dragOver and dragLeave are not called)
                          //   - a list (e.g. ["before", "after"]) to restrict available hitModes
                          //   - a string "over", "before, or "after" to force a hitMode
                          //   - Any other return value will calc the hitMode from the cursor position.

                          // Example:
                          // Prevent dropping a parent below another parent (only sort nodes under
                          // the same parent):
                          //if(node.parent !== data.otherNode.parent){
                          //  return false;
                          //}
                          // Example:
                          // Don't allow dropping *over* a node (which would create a child). Just
                          // allow changing the order:
                          //return ["before", "after"];

                          // Accept everything:
                          return true;
                      },
                      dragOver: function (node, data) {
                          // Called on target node every few milliseconds while some source is
                          // dragged over it.
                          // `data.hitMode` contains the calculated insertion point, based on cursor
                          // position and the response of `dragEnter`.
                          //
                          // We may
                          //   - Override `data.hitMode`
                          //   - Set `data.dropEffect` (defaults to the value that of dragEnter)
                          //     (Note: IE will ignore this and use the value from dragenter instead!)
                          //   - Call `data.dataTransfer.setDragImage()`

                          // Set a drop effect (i.e. override the 'dropEffectDefault' option)
                          // One of 'copy', 'move', 'link'.
                          // In order to use a common modifier key mapping, we can use the suggested value:
                          data.dropEffect = data.dropEffectSuggested;
                      },
                      dragExpand: function (node, data) {
                          // Called when a dragging cursor lingers over a parent node.
                          // (Optional) Return false to prevent auto-expanding `node`.
                      },
                      dragLeave: function (node, data) {
                          // Called when s.th. is no longer dragged over `node`.
                          // Implementation of this callback is optional and rarely required.
                      },
                      dragDrop: function (node, data) {
                          // This function MUST be defined to enable dropping of items on the tree.
                          //
                          // The source data is provided in several formats:
                          //   `data.otherNode` (null if it's not a FancytreeNode from the same page)
                          //   `data.otherNodeData` (Json object; null if it's not a FancytreeNode)
                          //   `data.dataTransfer.getData()`
                          //
                          // We may access some meta data to decide what to do:
                          //   `data.hitMode` ("before", "after", or "over").
                          //   `data.dataTransfer.dropEffect`,`.effectAllowed`
                          //   `data.originalEvent.shiftKey`, ...
                          //

                          // spec dragged
                          let spec_id = data.otherNodeData.refKey;
                          // from (previous parent)
                          let from_id = data.otherNode.parent.refKey;
                          // to (future parent), if not over, it's the parent of the target node
                          let to_id = node.parent.refKey;
                          // if it's right over the node, then it will be the new parent
                          if (data.hitMode === "over" ) {
                              to_id = node.refKey;
                          }

                          move_spec_from_to(spec_id, from_id, to_id);
                      }
                  },
                  {#// -- CONTEXT MENU --#}
                  {#contextMenu: {#}
                  {#    menu: {#}
                  {#        "edit": { "name": "Edit", "icon": "edit" },#}
                  {#    }#}
                  {# },#}
                  });
          let tree = $.ui.fancytree.getTree("#specs_tree");
          // Expand all tree nodes
          tree.visit(function (node) {
              console.log("visit");
              node.setExpanded(true);
              console.log("end visit");
          });

          $.contextMenu({
            selector: "#specs_tree span.fancytree-node",
            items: {
                "edit": {
                    name: "Edit",
                    icon: "edit",
                    callback: function(key, opt){
                        let node = $.ui.fancytree.getNode(opt.$trigger);
                        window.open("/admin/specification/specification/"+node.refKey+"/change/", '_blank').focus();
                    }
                },
                "add": {
                    name: "Add spec included in this one",
                    icon: "add",
                    callback: function(key, opt){
                        let node = $.ui.fancytree.getNode(opt.$trigger);
                        window.open("/admin/specification/specification/add/?included_in="+node.refKey, '_blank').focus();
                    }
                },
                "delete": {
                    name: "Delete this specification (every where)",
                    icon: "delete",
                    callback: function(key, opt){
                        let node = $.ui.fancytree.getNode(opt.$trigger);
                        window.open("/admin/specification/specification/"+node.refKey+"/delete", '_blank').focus();
                    }
                }
              {#"cut": {name: "Cut", icon: "cut",#}
              {#    callback: function(key, opt){#}
              {#      var node = $.ui.fancytree.getNode(opt.$trigger);#}
              {#      alert("Clicked on " + key + " on " + node);#}
              {#    }#}
              {#  },#}
              {#"copy": {name: "Copy", icon: "copy"},#}
              {#"paste": {name: "Paste", icon: "paste", disabled: false },#}
              {#"sep1": "----",#}
              {#"edit": {name: "Edit", icon: "edit", disabled: true },#}
              {#"delete": {name: "Delete", icon: "delete", disabled: true },#}
              {#"more": {name: "More", items: {#}
              {#  "sub1": {name: "Sub 1"},#}
              {#  "sub1": {name: "Sub 2"}#}
              {#  }}#}
              },
            callback: function(itemKey, opt) {
              var node = $.ui.fancytree.getNode(opt.$trigger);
              alert("select " + itemKey + " on " + node);
            }
          });

      });
  </script>

</head>
<body>
<h1>Test Scratch</h1>

<h2>Table Tree</h2>
<table id="tree" style="width: 100%">
  <colgroup>
    <col width="0*"/>
    <col width=""/>
  </colgroup>
  <thead>
  <tr>
    <th></th>
    <th>Spec</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="alignCenter"></td>
    <td class="alignLeft"></td>
  </tr>
  </tbody>
</table>


</body>
</html>