{% extends "specification/main.html" %}
{% load static %}
{% load i18n %}

{% block extra_style %}
  {{ block.super }}
  <link href="{% static "/css/fancytree/skin-win8/ui.fancytree.css" %}" rel="stylesheet">
  <!-- jquery-contextmenu (https://github.com/swisnl/jQuery-contextMenu) -->
  <link rel="stylesheet" href="{% static "/css/jquery-contextmenu/jquery.contextMenu.min.css" %}"/>
  <!-- For FilteredSelectMultiple widget -->
  <link href="{% static "/admin/css/widgets.css" %}" rel="stylesheet" crossorigin="anonymous">
  <!-- tippy -->
  <link href="{% static "/css/tippy/tippy.css" %}" rel="stylesheet" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static "/css/treetable.css" %}"/>
{% endblock %}
{% block extra_javascript %}
  {{ block.super }}
  <!-- Bundled Fancytree core and most extensions plus required jQuery UI widgets: -->
  <script src="{% static "/js/libs/fancytree/jquery.fancytree-all-deps.min.js" %}"></script>
  <!-- jquery-contextmenu (https://github.com/swisnl/jQuery-contextMenu) -->
  <script src="{% static "/js/libs/jquery-contextmenu/jquery.contextMenu.min.js" %}"></script>
  <!-- htmx -->
  <script src="{% static "/js/libs/htmx/htmx.min.js" %}"></script>
  <!-- tippy -->
  <script src="{% static "/js/libs/tippy/tippy.umd.min.js" %}"></script>

  <script src="{% static "/js/treeview.js" %}"></script>
{% endblock %}

{% block main %}
  <div class="row flex-grow-1" style="margin: 0">
    <div id="left_panel" class="col-auto collapse" tabindex="0">
      <h4 class="text-white text-center">
        <span id="left_panel_title"></span>
        <a href="#" onclick="close_left_panel()">
          <i class="bi-x-circle-fill"></i></a>
      </h4>
      <div id="left_panel_container">
      </div>
    </div>
    <div id="{% block id_container %}treeview{% endblock %}" class="col">
      {% block tree_table %}
        <table id="{% block id_tree %}tree{% endblock %}">
          <colgroup>
            <col width="0*"/>
            <col width=""/>
            {% block tree_table_extra_colgroup %}
            {% endblock %}
          </colgroup>
          <thead>
          <tr>
            <th><a href="#" onclick="toggle_select_all_tree(this)">
              <span class="fancytree-checkbox" role="checkbox"></span></a></th>
            <th class="tree_col_title">
              {% block table_title_block %}
                <h4>TITLE</h4>
              {% endblock %}
              <span class="float-end">
              {% block actions_block %}{% endblock %}
            </span>
            </th>
            {% block tree_table_head_extra_col %}
            {% endblock %}
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="alignCenter"></td>
            <td class="alignLeft"></td>
            {% block tree_table_body_extra_col %}
            {% endblock %}
          </tr>
          </tbody>
        </table>
      {% endblock tree_table %}
    </div>
  </div>

  <div class="modal" tabindex="-1" id="modalConfirmClosePanel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{% translate "Close panel" %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate "Close" %}"></button>
        </div>
        <div class="modal-body">
          <p>{% translate "Are you sure to close this panel ? It will discard all content in it." %}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Discard and keep the panel" %}</button>
          <button type="button" class="btn btn-primary" onclick="close_left_panel();" data-bs-dismiss="modal">{% translate "Yes, close it" %}</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}