{% extends "specification/treeview.html" %}
{% load static %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block extra_javascript %}
  {{ block.super }}
  <script src="{% static "/js/treetable.js" %}"></script>
  {{ tags_form.media }}
  {{ supervisors_form.media }}
{% endblock %}

{% block tree_table %}
<table id="{% block id_tree %}tree{% endblock %}">
  <colgroup>
    <col width="0*"/>
    <col width=""/>
    <col width="0*"/>
    <col width="0*"/>
    <col width="0*"/>
    <col width="0*"/>
  </colgroup>
  <thead>
  <tr>
    <th><a href="#" onclick="toggle_select_all_tree(this)">
      <span class="fancytree-checkbox" role="checkbox"></span></a></th>
    <th class="tree_col_title">
      <h4>{% translate "Specifications" %}
        <a href="#" onclick="start_create_spec();"><i class="bi-plus-circle-fill"></i></a>
      </h4>
      <span class="float-end">

  <span>{% translate "Auto-reload" %} :</span>
  <button onclick="toggle_auto_reload();" class="btn btn-outline-light"><i
          id='auto_reload_icon' class="bi-cloud-download-fill"></i>
    <span id="auto_reload_badge" class=" badge rounded-pill bg-danger"></span></button>

  <span style="padding-left: 5px">{% translate "Actions" %} :</span>
  <button onclick="start_visualize_specs();" class="btn btn-outline-light"><i
          class="bi-diagram-3-fill"></i></button>
          <label>{% translate "Filter" %} :
            <input id="treetable_search" name="search" placeholder="{% translate "Search ..." %}" autocomplete="off" type="text"/>
          </label>
            </span>
    </th>
    <th class="text-center dropdown">
      <a id="tags_selector_dropdown" type="button" class="btn btn-primary btn-sm dropdown-toggle"
         data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
        {% translate "Tags" %} <span class=" badge rounded-pill bg-danger"></span>
      </a>
      <div class="dropdown-menu" style="border: none; background: none; padding-top: -10px;">
        <div style="margin-top: -10px">
          {% bootstrap_form tags_form %}
        </div>
      </div>
    </th>
    <th class="cost">
      <div>{% translate "Cost" %}</div>
    </th>
    <th>
      <a id="supervisors_selector_dropdown" type="button" class="btn btn-primary btn-sm dropdown-toggle"
         data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
        {% translate "Supervisor(s)" %} <span class=" badge rounded-pill bg-danger"></span>
      </a>
      <div class="dropdown-menu" style="border: none; background: none; padding-top: -10px;">
        <div style="margin-top: -10px">
          {% bootstrap_form supervisors_form %}
        </div>
      </div>
    </th>
    <th>
      <a id="concerned_selector_dropdown" type="button" class="btn btn-primary btn-sm dropdown-toggle"
         data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
        {% translate "Concerned" %} <span class=" badge rounded-pill bg-danger"></span>
      </a>
      <div class="dropdown-menu" style="border: none; background: none; padding-top: -10px;">
        <div style="margin-top: -10px">
          {% bootstrap_form concerned_form %}
        </div>
      </div>
    </th>
    <th>
      <div style="width: 180px; text-align: center">{% translate "Fulfillment" %}</div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="alignCenter"></td>
    <td class="alignLeft title_col"></td>
    <td class="tag_col"></td>
    <td class="cost"></td>
    <td class="supervisors"></td>
    <td class="concerned"></td>
    <td class="text-right">
      <div class="progress position-relative">
      </div>
    </td>
  </tr>
  </tbody>
</table>
{% endblock %}