{% load i18n %}
{% load static %}

<script src="{% static "/js/libs/he/he.js" %}"></script>
<div style="position: absolute; left: 15px;">
<button type="button" class="btn btn-primary btn-sm"
        onclick="saveSvg(document.getElementById('graph_vizualisation').firstElementChild,'graph.svg')"><i class="bi-download"></i> {% translate "Download" %}</button>
<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#graph_vizualisation_src"><i class="bi-code"></i> {% translate "Show source" %}</button>
</div>

<div class="collapse" id="graph_vizualisation_src">
  <pre style="text-align: left; position: relative; top: 30px; margin-bottom: 30px">{{ plantuml }}</pre>
  <hr />
</div>
<div style="max-width: 100vw; overflow-x: auto" id="graph_vizualisation">
{% autoescape off %}
{{ graph }}
{% endautoescape %}
</div>


{#<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" contentStyleType="text/css" height="782px" preserveAspectRatio="none" style="width:1698px;height:782px;background:#FFFFFF;" version="1.1" viewBox="0 0 1698 782" width="1698px" zoomAndPan="magnify"><defs/><g><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="388" x="10" y="343.707"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="368" x="20" y="366.7021">Développer un ERP qui réponde aux besoins de l'AP</text><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="126" x="448" y="20"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="106" x="458" y="42.9951">Gérer les devis</text><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="437" x="624" y="20"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="417" x="634" y="42.9951">Les devis doivent pouvoir avoir des sous-groupes de lignes</text><path d="M574,38.1484 L584,38.1484 C599,38.1484 599,38.1484 614,38.1484 L624,38.1484 " fill="none" style="stroke:#181818;stroke-width:1.0;"/><path d="M398,361.8555 L408,361.8555 C423,361.8555 423,38.1484 438,38.1484 L448,38.1484 " fill="none" style="stroke:#181818;stroke-width:1.0;"/><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="148" x="448" y="132.5938"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="128" x="458" y="155.5889">Gérer les factures</text><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="459" x="646" y="76.2969"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="439" x="656" y="99.292">Les factures doivent pouvoir avoir des sous-groupes de lignes</text><path d="M596,150.7422 L606,150.7422 C621,150.7422 621,94.4453 636,94.4453 L646,94.4453 " fill="none" style="stroke:#181818;stroke-width:1.0;"/><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="409" x="646" y="132.5938"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="389" x="656" y="155.5889">Les factures doivent pouvoir être exporter en compta</text><path d="M596,150.7422 L606,150.7422 C621,150.7422 621,150.7422 636,150.7422 L646,150.7422 " fill="none" style="stroke:#181818;stroke-width:1.0;"/><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="389" x="646" y="188.8906"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="369" x="656" y="211.8857">Sécuriser la gestion des factures par rapport à la loi</text><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="391" x="1085" y="188.8906"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="371" x="1095" y="211.8857">Rendre impossible de supprimer une facture éditée</text><path d="M1035,207.0391 L1045,207.0391 C1060,207.0391 1060,207.0391 1075,207.0391 L1085,207.0391 " fill="none" style="stroke:#181818;stroke-width:1.0;"/><path d="M596,150.7422 L606,150.7422 C621,150.7422 621,207.0391 636,207.0391 L646,207.0391 " fill="none" style="stroke:#181818;stroke-width:1.0;"/><path d="M398,361.8555 L408,361.8555 C423,361.8555 423,150.7422 438,150.7422 L448,150.7422 " fill="none" style="stroke:#181818;stroke-width:1.0;"/><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="205" x="448" y="245.1875"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="185" x="458" y="268.1826">Gérer les repos et congés</text><path d="M398,361.8555 L408,361.8555 C423,361.8555 423,263.3359 438,263.3359 L448,263.3359 " fill="none" style="stroke:#181818;stroke-width:1.0;"/><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="219" x="448" y="301.4844"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="199" x="458" y="324.4795">Gérer les tickets restaurant</text><path d="M398,361.8555 L408,361.8555 C423,361.8555 423,319.6328 438,319.6328 L448,319.6328 " fill="none" style="stroke:#181818;stroke-width:1.0;"/><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="356" x="448" y="357.7813"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="336" x="458" y="380.7764">Permettre un export de la compta vers Quadra</text><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="448" x="854" y="357.7813"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="428" x="864" y="380.7764">Les notes de frais doivent pouvoir être exporter en compta</text><path d="M804,375.9297 L814,375.9297 C829,375.9297 829,375.9297 844,375.9297 L854,375.9297 " fill="none" style="stroke:#181818;stroke-width:1.0;"/><path d="M398,361.8555 L408,361.8555 C423,361.8555 423,375.9297 438,375.9297 L448,375.9297 " fill="none" style="stroke:#181818;stroke-width:1.0;"/><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="152" x="448" y="414.0781"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="132" x="458" y="437.0732">Gérer les contacts</text><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="494" x="650" y="414.0781"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="474" x="660" y="437.0732">Les contacts doievent pouvoir être des individus ou des structures</text><path d="M600,432.2266 L610,432.2266 C625,432.2266 625,432.2266 640,432.2266 L650,432.2266 " fill="none" style="stroke:#181818;stroke-width:1.0;"/><path d="M398,361.8555 L408,361.8555 C423,361.8555 423,432.2266 438,432.2266 L448,432.2266 " fill="none" style="stroke:#181818;stroke-width:1.0;"/><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="187" x="448" y="470.375"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="167" x="458" y="493.3701">Gérer les notes de frais</text><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="448" x="685" y="470.375"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="428" x="695" y="493.3701">Les notes de frais doivent pouvoir être exporter en compta</text><path d="M635,488.5234 L645,488.5234 C660,488.5234 660,488.5234 675,488.5234 L685,488.5234 " fill="none" style="stroke:#181818;stroke-width:1.0;"/><path d="M398,361.8555 L408,361.8555 C423,361.8555 423,488.5234 438,488.5234 L448,488.5234 " fill="none" style="stroke:#181818;stroke-width:1.0;"/><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="128" x="448" y="554.8203"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="108" x="458" y="577.8154">Gérer les outils</text><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="438" x="626" y="526.6719"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="418" x="636" y="549.667">Permettre d'importer des nomenclatures depuis AutoCAD</text><path d="M576,572.9688 L586,572.9688 C601,572.9688 601,544.8203 616,544.8203 L626,544.8203 " fill="none" style="stroke:#181818;stroke-width:1.0;"/><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="300" x="626" y="582.9688"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="280" x="636" y="605.9639">Permettre de calculer le poid d'un outil</text><path d="M576,572.9688 L586,572.9688 C601,572.9688 601,601.1172 616,601.1172 L626,601.1172 " fill="none" style="stroke:#181818;stroke-width:1.0;"/><path d="M398,361.8555 L408,361.8555 C423,361.8555 423,572.9688 438,572.9688 L448,572.9688 " fill="none" style="stroke:#181818;stroke-width:1.0;"/><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="721" x="448" y="639.2656"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="701" x="458" y="662.2607">Permettre de réduire les actions possibles et informations visible en fonction de l'utilisateur⋅trice</text><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="440" x="1219" y="611.1172"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="420" x="1229" y="634.1123">Regrouper des ensembles de permission dans des groupes</text><path d="M1169,657.4141 L1179,657.4141 C1194,657.4141 1194,629.2656 1209,629.2656 L1219,629.2656 " fill="none" style="stroke:#181818;stroke-width:1.0;"/><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="467" x="1219" y="667.4141"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="447" x="1229" y="690.4092">Pouvoir assigner un⋅e utilisateur⋅trice à un ou plusieurs groupes</text><path d="M1169,657.4141 L1179,657.4141 C1194,657.4141 1194,685.5625 1209,685.5625 L1219,685.5625 " fill="none" style="stroke:#181818;stroke-width:1.0;"/><path d="M398,361.8555 L408,361.8555 C423,361.8555 423,657.4141 438,657.4141 L448,657.4141 " fill="none" style="stroke:#181818;stroke-width:1.0;"/><rect fill="#F1F1F1" height="36.2969" rx="12.5" ry="12.5" style="stroke:#181818;stroke-width:1.5;" width="347" x="10" y="723.7109"/><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="327" x="20" y="746.7061">Mettre en place un développement prérenne</text><!--MD5=[a78b0c81aecccc80f78376dc583fccd1] @startmindmap * Développer un ERP qui réponde aux besoins de l'AP ** Gérer les devis *** Les devis doivent pouvoir avoir des sous-groupes de lignes ** Gérer les factures *** Les factures doivent pouvoir avoir des sous-groupes de lignes *** Les factures doivent pouvoir être exporter en compta *** Sécuriser la gestion des factures par rapport à la loi **** Rendre impossible de supprimer une facture éditée ** Gérer les repos et congés ** Gérer les tickets restaurant ** Permettre un export de la compta vers Quadra *** Les notes de frais doivent pouvoir être exporter en compta ** Gérer les contacts *** Les contacts doievent pouvoir être des individus ou des structures ** Gérer les notes de frais *** Les notes de frais doivent pouvoir être exporter en compta ** Gérer les outils *** Permettre d'importer des nomenclatures depuis AutoCAD *** Permettre de calculer le poid d'un outil ** Permettre de réduire les actions possibles et informations visible en fonction de l'utilisateur⋅trice *** Regrouper des ensembles de permission dans des groupes *** Pouvoir assigner un⋅e utilisateur⋅trice à un ou plusieurs groupes * Mettre en place un développement prérenne @endmindmap PlantUML version 1.2022.10beta1(Unknown compile time) (GPL source distribution) Java Runtime: Java(TM) SE Runtime Environment JVM: Java HotSpot(TM) 64-Bit Server VM Default Encoding: UTF-8 Language: en Country: US --></g></svg>#}
