{% load static %}
{% load i18n %}

<table id="formset_{{ formset.prefix }}_table" class="w-100">
  {{ formset.media }}
  {{ formset.management_form }}
  {% for form in formset.forms %}
    {% if forloop.first %}
      <thead>
      <tr>
        {% for field in form.visible_fields %}
          <th>{{ field.label|capfirst }}</th>
        {% endfor %}
      </tr>
      </thead>
    {% endif %}
    <tr class="{% cycle row1 row2 %} formset_row">
      {% for field in form.visible_fields %}
        <td>
          {# Include the hidden fields in the form #}
          {% if forloop.first %}
            {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
          {% endif %}
          {{ field.errors.as_ul }}
          {{ field }}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('#formset_{{ formset.prefix }}_table .formset_row').formset({
        addText: '{% translate "add a line" %}',
        deleteText: '{% translate "remove" %}',
        prefix: '{{ formset.prefix }}'
    });
</script>