{% extends "solution/solutionelement_form.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}

{% block after_form_content %}
  <div style="display: inline-block; width: 100%;">
    <br/>
    <h5>{% translate "Fulfill specifications" %}</h5>
    {% include "solution/formset_table.html" with formset=fulfillment_formset %}
    <br/>
    <h5>{% translate "Breach specifications" %}</h5>
    {% include "solution/formset_table.html" with formset=breach_formset %}
    <br/>
  </div>

{% endblock %}