{% extends "specification/treeview.html" %}
{% load static %}
{% load i18n %}

{% block extra_javascript %}
  {{ block.super }}
  <script src="{% static "/js/solution.js" %}"></script>
{% endblock %}

{% block tree_table_extra_colgroup %}
  <col width=""/>
            {% endblock %}

{% block tree_table_head_extra_col %}
  <th><div style="white-space: nowrap;">{% translate "Linked specs" %}</div></th>
          {% endblock %}

{% block tree_table_body_extra_col %}
  <td></td>
          {% endblock %}

{% block table_title_block %}
  <h4>
{#    {% translate "Solution Elements" %}#}
    {{ request.session.current_solution_name }} – {% translate "Gain" %} : <span id="treetable_total_gain">?</span>
    <a href="#" onclick="start_create_solution();"><i class="bi-plus-circle-fill"></i></a>
  </h4>
{% endblock %}

{% block actions_block %}
  <span>{% translate "Actions" %} :</span>
  <button onclick="start_visualize_solutions();" class="btn btn-outline-light"><i
          class="bi-diagram-3-fill"></i></button>
  <label>{% translate "Filter" %} :
            <input id="treetable_search" name="search" placeholder="{% translate "Search ..." %}" autocomplete="off" type="text"/>
          </label>
{% endblock %}