<div class="dropdown hierarchy-select" id="{{ widget.name }}"
     onfocusin="$('#'+this.id).hierarchySelect({width: '100 %'});this.setAttribute('onfocusin', '');">
    <button type="button" class="btn btn-secondary dropdown-toggle w-100" id="{{ widget.name }}-button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {% if widget.value.0 %}{{ widget.selected_label }}{% else %}----{% endif %}
    </button>
    <ul class="dropdown-menu" aria-labelledby="{{ widget.name }}-button">
        <div class="hs-searchbox">
            <input type="text" class="form-control" autocomplete="off" size="1">
        </div>
        <div class="hs-menu-inner">
          {% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
          <optgroup label="{{ group_name }}">{% endif %}{% for widget in group_choices %}
          {% include widget.template_name %}{% endfor %}{% if group_name %}
          </optgroup>{% endif %}{% endfor %}
        </div>
    </ul>
    <input class="d-none" name="{{ widget.name }}" readonly="readonly" aria-hidden="true" type="text" value="{% if widget.value.0 %}{{ widget.value.0 }}{% endif %}"/>
</div>
